<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>

<div class="panel panel-default">
  <div class="panel-body">
    {{setting-form changeset=(changeset model) save=(action 'save')}}
  </div>
</div>
{{outlet}}
